<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>dome_servlet_Base</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>name</param-name>
    <param-value>zhouwei</param-value>
  </context-param>
  <context-param>
    <param-name>age</param-name>
    <param-value>20</param-value>
  </context-param>
  <context-param>
    <param-name>sex</param-name>
    <param-value>1</param-value>
  </context-param>
  <!-- request -->
  <servlet>
    <servlet-name>RequestLineServlet</servlet-name>
    <servlet-class>club.xiaoandx.servlet.request.RequestLineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestLineServlet</servlet-name>
    <url-pattern>/requestLineServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RequestHeadersServlet</servlet-name>
    <servlet-class>club.xiaoandx.servlet.request.RequestHeadersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestHeadersServlet</servlet-name>
    <url-pattern>/requestHeadersServlet</url-pattern>
  </servlet-mapping>
  
  <!-- referer -->
  <servlet>
    <servlet-name>DownServlet</servlet-name>
    <servlet-class>club.xiaoandx.servlet.request.DownServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownServlet</servlet-name>
    <url-pattern>/downServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RequestForwardServlet</servlet-name>
    <servlet-class>club.xiaoandx.servlet.request.RequestForwardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestForwardServlet</servlet-name>
    <url-pattern>/requestForwardServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ResultServlet</servlet-name>
    <servlet-class>club.xiaoandx.servlet.request.ResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultServlet</servlet-name>
    <url-pattern>/resultServlet</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <servlet-name>TestServletContext</servlet-name>
    <servlet-class>club.xiaoandx.servlet.TestServletContext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServletContext</servlet-name>
    <url-pattern>/testServletContext</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>TestServletContext2</servlet-name>
    <servlet-class>club.xiaoandx.servlet.TestServletContext2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServletContext2</servlet-name>
    <url-pattern>/testServletContext2</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>club.xiaoandx.servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  
  <!-- cookie -->
  <servlet>
    <servlet-name>TestCookie</servlet-name>
    <servlet-class>club.xiaoandx.servlet.cookie.TestCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestCookie</servlet-name>
    <url-pattern>/testCookie</url-pattern>
  </servlet-mapping>
  
  <!-- session -->
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>club.xiaoandx.servlet.session.example01.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/cartServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ListBookServlet</servlet-name>
    <servlet-class>club.xiaoandx.servlet.session.example01.ListBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListBookServlet</servlet-name>
    <url-pattern>/listBookServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PurchaseServlet</servlet-name>
    <servlet-class>club.xiaoandx.servlet.session.example01.PurchaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseServlet</servlet-name>
    <url-pattern>/purchaseServlet</url-pattern>
  </servlet-mapping>
</web-app>